@model Pervieproekt.Models.Catalogg
@{
    ViewBag.Title = "Delete";
}
<div>
    <dl>
        <dt>Название</dt>
        <dd>@Html.DisplayFor(model => model.Namee)</dd>

        <dt>Цена</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>Информация</dt>
        <dd>@Html.DisplayFor(model => model.Information)</dd>

        <dt>Картинка</dt>
        <img src="~/lib/images/@Model.Img" alt="..." style="width:20%">
        <dd>@Html.DisplayFor(model => model.Img)</dd>
    </dl>

    <div>
        <form asp-controller="CRUD" asp-action="Delete" method="post">
            <div>
                <input type="submit" value="Удалить" />
            </div>
        </form>
    </div>
</div>