<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">SOY FLOWER</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Жаждете настоящего вкуса Японии? Мы предлагаем широкий выбор суши, роллов, сашими, гунканов, рамэна, лапши удон, терияки и других японских блюд, приготовленных с использованием только свежих и качественных продуктов. Закажите онлайн и наслаждайтесь!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" style="background-color: #911300"><a asp-action="Catalog" style="text-decoration:none; background-color: #911300; color: white;">Каталог</a></button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img class="rounded-lg-3" src="@Url.Content("~/lib/images/pngwing.com (3).png")" alt="" width="200">
        </div>
    </div>
</div>