@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Мия Баки</h1>
            <p class="lead">Ролы с красной рыбой 8 шт., ролы с крабом 2 шт., суши с красной икрой 8 шт., суши с красной рыбой 2 шт., васаби 100 гр., имбирь 100гр.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" style="background-color: #911300"><a asp-action="Cart" style="text-decoration:none; background-color: #911300; color: white;">В корзину</a></button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img src="@Url.Content("~/lib/images/pngwing.com (2).png")" class="card-img-top" alt="...">

        </div>
    </div>
</div>
